<!DOCTYPE html>
<html>
<body>
<h1>Yeni Albüm</h1>

<%= form_for @album do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Oluştur" , :class => 'buttonStyle'%>
<% end %>
</body>
</html>
 